.reg-sec{
    
    display: flex;
    padding: 1rem;
    margin: auto;
    align-items: center;
    justify-content: center;
    min-width: 35%;
    height: 100vh;
    border-radius: 20px;
    flex-direction: column;
   
}

.registration{
    
    
    
   
}

.form__label{
    color: black;
   margin-right: 1rem;

}
.form-body{
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 20px;
   
}
.username, .gender, .email, .password, .adhaar{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
   
}
.btn-reg{

    border-radius: 5px;
    background-color: #baca60;
    background-image: linear-gradient(135deg, #96ff59 0%, #9cb318 33%, #a0ca4a 66%, #53cc48 100%);
    padding: .6rem 1.3rem;
    color: rgb(0, 0, 0);
    font-weight: bold;

}

.reg{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.form__input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;   
}
